@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
    --font-sans: "Instrument Sans", ui-sans-serif, system-ui;

    /* Light mode */
    --color-gray-100: #ffffff;
    --color-gray-200: #ffffff;
    --color-gray-300: #ffffff;
    --color-gray-400: #3c3c43; /* Sidebar text */
    --color-gray-500: #eff0f3; /* Button */
    --color-gray-600: #e2e2e3; /* Button Border */
    --color-gray-700: #f6f6f7; /* Card */
    --color-gray-800: #e2e2e3; /* Aside */
    --color-gray-900: #ffffff; /* Background */
    --color-accent:   #18181b;

    /* Brand colors */
    --color-brand-blue:       #003da5;
    --color-brand-white:      #ffffff;
    --color-brand-light-grey: #ededed;
    --color-brand-gray:       #706f6f;
    --color-orange:           #ff8200;
    --color-yellow:           #fce300;
    --color-chartreuse:       #c4d600;
    --color-cornflower:       #8bb8e8;
    --color-pink:             #f277c6;
    --color-cerise:           #e31c79;
    --color-surface-900:      #0f172a;
    --color-surface-950:      #090f1a;
    --color-blue:             #0ea5e9;
}

/* Dark mode overrides */
.dark {
    --color-gray-100: #ffffff;
    --color-gray-200: #ffffff;
    --color-gray-300: #ffffff;
    --color-gray-400: #98989f; /* Sidebar text */
    --color-gray-500: #2b2f36; /* Button */
    --color-gray-600: #2b2f36; /* Button Border */
    --color-gray-700: #202127; /* Card */
    --color-gray-800: #161618; /* Aside */
    --color-gray-900: #1b1b1f; /* Background */
    --color-accent:   #ffffff;
}

@layer components {
	.hs-form-html .hsfc-Step__Content {
		padding: 0!important;
	}
	.hs-form-html .hsfc-DataPrivacyField .hsfc-Row {
		margin-bottom: 0!important;
	}
	.hs-form-html .hsfc-DataPrivacyField label,
	.hs-form-html .hsfc-RadioFieldGroup label {
		font-size: var(--text-base) !important;
		text-transform: none !important;
		margin-top: 1rem !important;
		margin-bottom: 0!important;
	}
	.hs-form-html .hsfc-CheckboxField label>span {
		display: flex !important;
	}
	.hs-form-html p, .hs-form-html .hsfc-RichText,
	.hs-form-html .hsfc-FieldDescription,
	.hs-form-html .hsfc-FileInput {
		font-size: var(--text-base) !important;
		line-height: var(--tw-leading, var(--text-xs--line-height)) !important;
		color: var(--color-gray-400) !important;
	}
	.hs-form-html .hsfc-FieldLabel {
		font-size: var(--text-xs) !important;
		line-height: var(--tw-leading, var(--text-xs--line-height)) !important;
		font-weight: var(--font-weight-medium) !important;
		text-transform: uppercase !important;
		color: var(--color-gray-400) !important;
		margin-bottom: calc(var(--spacing) * 2) !important;
	}
	.hs-form-html input[type="text"],
	.hs-form-html input[type="email"],
	.hs-form-html input[type="tel"],
	.hs-form-html input[type="number"],
	.hs-form-html input[type="date"],
	.hs-form-html select,
	.hs-form-html textarea {
		font-size: var(--text-sm) !important;
		line-height: calc(var(--spacing) * 6) !important;
		display: block !important;
		width: 100% !important;
		border-radius: var(--radius-md) !important;
		background-color: var(--color-gray-500) !important;
		padding-inline: calc(var(--spacing) * 3) !important;
		color: var(--color-gray-400) !important;
		outline: none !important;
		border: none !important;
	}
	.hs-form-html input[type="tel"] {
		border-top-left-radius: 0 !important;
		border-bottom-left-radius: 0 !important;
	}
	.hs-form-html .hsfc-PhoneInput__FlagAndCaret {
		background-color: var(--color-gray-500) !important;
		border-top-left-radius: var(--radius-md) !important;
		border-bottom-left-radius: var(--radius-md) !important;
		outline: none !important;
		border: none !important;
	}
	.hs-form-html .hsfc-DropdownOptions__Search input[type="text"] {
		background-color: var(--color-gray-300) !important;
	}
	.hs-form-html input[type="text"]:focus,
	.hs-form-html input[type="email"]:focus,
	.hs-form-html input[type="tel"]:focus,
	.hs-form-html input[type="number"]:focus,
	.hs-form-html input[type="date"]:focus,
	.hs-form-html select:focus,
	.hs-form-html textarea:focus {
		outline-style: var(--tw-outline-style) !important;
		outline-color: var(--color-orange) !important;
		outline-width: 2px !important;
		outline-offset: calc(2px * -1) !important;
	}
	.hs-form-html .hsfc-DropdownInput__Caret > span,
	.hs-form-html .hsfc-PhoneInput__FlagAndCaret__Caret {
		border-top: 6px solid var(--color-white)!important;
	}
	.hs-form-html input::placeholder,
	.hs-form-html textarea::placeholder {
		color: #6b7280;
	}
	.hs-form-html .hsfc-Button,
	.hs-form-html input[type="submit"] {
		transition-property: color, background-color, border-color, outline-color, text-decoration-color, fill, stroke, --tw-gradient-from, --tw-gradient-via, --tw-gradient-to !important;
		transition-timing-function: var(--tw-ease, var(--default-transition-timing-function)) !important;
		transition-duration: var(--tw-duration, var(--default-transition-duration)) !important;
		color: var(--color-white) !important;
		font-weight: var(--font-weight-semibold) !important;
		padding-block: calc(var(--spacing) * 3) !important;
		background-color: var(--color-orange) !important;
		border-radius: calc(infinity * 1px) !important;
	}
	.hs-form-html .hs-button:hover,
	.hs-form-html input[type="submit"]:hover {
		background-color: var(--color-orange-80) !important;
	}
	.hs-form-html .hs-form-field {
		margin-bottom: 1.5rem;
	}	
	.hs-form-html .hs-form-required {
		color: #ef4444;
	}
	.hs-form-html .hs-error-msg {
		font-size: 0.75rem;
		color: #f87171;
		margin-top: 0.25rem;
		font-weight: 500;
	}
	.hs-form-html h2, .hs-form-html h3	 {
		font-size: var(--text-2xl) !important;
		color: var(--color-gray-400) !important;
	}
	@media (max-width: 768px) {
		.hs-form-html .hsfc-Step__Content .hsfc-Row {
			grid-template-columns: 1fr !important;
		}
	}
}


/* Alpine.js cloak */
[x-cloak] {
  display: none !important;
}

@layer base {
  body {
	font-family: var(--font-sans);
  }
}